{% extends 'fleet-manager/layout/base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block body %}
    <ul class="collection">
    {% for car in cars %}
        <li class="collection-item avatar">
            <span class="title">{{ car.plates }}</span>
            <p>{{ car.model.name }}<br>
                {{ car.year }}
            </p>
            <a href="{{ path('cars_show', { 'plates': car.plates }) }}" class="secondary-content">
                <button class="btn btn-small">SHOW</button>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
