{% extends 'fleet-manager/layout/base.html.twig' %}

{% block body %}
    {% include 'fleet-manager/car/_form.html.twig' %}
    <button class="btn waves-effect waves-light" type="submit" form="new">Submit</button>
{% endblock body %}

{% block scripts %}
    <script>
        function removeModels() {
            $('.model')
                .val(0)
                .empty()
                .trigger('change')
        }

        function removeBrandModels() {
            $('.brand-model')
                .val(0)
                .empty()
                .trigger('change')
        }


        $(document).ready(function(){

            $('.brand')
                .select2({ 'width': '100%'})
                .on('change', function() {
                        removeBrandModels()
                    });

            $('.brand-model')
                .select2({
                    width: '100%' ,
                    ajax: {
                        url:  function (params) {
                            return '/cars/brand-models/' + $('.brand').val();
                        } ,
                        dataType: 'json'
                    }})
                .on('change', function() {
                        removeModels();
                    });

            $('.model').select2({
                width: '100%' ,
                ajax: {
                    url:  function (params) {
                        return '/cars/models/' + $('.brand').val();
                    },
                    data: function (params) {
                        let model_name = $('.brand-model').val();
                        return {
                            brand_model: model_name,
                            type: 'public'
                        };
                    },
                    dataType: 'json',
                }});

            $('#car_color')
                .select2({
                    width: '100%',
                    templateResult: function(option) {
                        let color = option.element ? option.element.dataset.color : '';
                        return $('<span><span style="background-color:' + color +'; color:' + color + '">_____</span> ' + option.text + ' </span>');
                    }
                });
        });
    </script>
{% endblock %}