{% extends 'fleet-manager/layout/base.html.twig' %}

{% block body %}
    {% include 'fleet-manager/driver/_form.html.twig' %}
    <button class="btn waves-effect waves-light" type="submit" form="new">Submit</button>
{% endblock body %}